<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static',filename='/css/styles.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>SGPA Calculator- 5th Sem</title>
   </head>
   <body>
      <div class="login-root">
         <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            
            <div class="formbg-outer">
               <div class="formbg">
                  <div class="formbg-inner padding-horizontal--48">
                     <h1>SGPA Calculator for 5th Sem CSE</h1>

                     <span class="padding-bottom--15">Enter your grades</span>
                     <form id='stripe-login' action="/submit" method="POST">
                        <div class="field thisOnly padding-bottom">
                           <label for="CN">Computer Networks</label>
                           <select name="CN" id="CN">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div class="field thisOnly padding-bottom">
                           <label for="EBS">Professional Elective- B slot</label>
                           <select name="EBS" id="EBS">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div class="field thisOnly padding-bottom">
                           <label for="DME">Discrete Mathematics for Engineers</label>
                           <select name="DME" id="DME">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div class="field thisOnly padding-bottom">
                           <label for="EDS">Professional Elective- D slot</label>
                           <select name="EDS" id="EDS">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div class="field thisOnly padding-bottom">
                           <label for="FLA">Formal Language and Automata</label>
                           <select name="FLA" id="FLA">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div class="field thisOnly padding-bottom">
                           <label for="EFS">Open Elective- F slot</label>
                           <select name="EFS" id="EFS">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div  class="field thisOnly padding-bottom">
                           <label for="CPS2">Competitive Professional Skills - II</label>
                           <select name="CPS2" id="CPS2">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div  class="field thisOnly padding-bottom">
                           <label for="MSIT">MOOC/Seminar/Industrial Training</label>
                           <select name="MSIT" id="MSIT">
                              <option value="10">O</option>
                              <option value="9">A+</option>
                              <option value="8">A</option>
                              <option value="7">B+</option>
                              <option value="6">B</option>
                              <option value="5">C</option>
                              <option value="0">F</option>
                           </select>
                        </div>
                        <div class="field padding-bottom--24">
                           <input type="submit" name="submit" value="Submit">
                        </div>
                     </form>
                  </div>
               </div>
               <div class="footer-link padding-top--24">
                  <span>©Pankaj Bhattarai</span>
                  <span><i class="fa fa-github"></i> Follow me on <a href="https://github.com/im-endangered" target="_blank">Github</a>
                  </span>
                  <span>Developed using Flask</span>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
   </body>
</html>